{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "eqeqeq": "error",
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArrowFunction": true,
        "allowAnonymousFunction": true
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "no-console": "warn",
    "react/jsx-pascal-case": [0, {"allowNamespace": true}]
  }
}
